{% extends 'base.html.twig' %}
{% block title %}Google Maps Symfony App{% endblock %}
{% block body %}
    <div><a href="/geocode">Get latitude from address</a></div>
    <div><a href="/place_marker">Place marker based on address or geocode</a></div>
{% endblock %}